include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-list")
				h2 CONTENT REPORT

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{title : 'Report' , kelas : 'fa-rocket' , ID : 'report'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'}]
						+component(data)
					table(id = "table-report" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Title
								th Type
								th(data-hide='phone') Imdb
								th(data-hide='phone,tablet') Author
								//- th(data-hide='phone,tablet ') Time

script.
	pageSetUp();
	var selected = [];

	$(function (){
	
		$('#report').click(function (e){
			e.preventDefault();
			if (selected.length == 1 ) {
				$.ajax({
					url : '/content/report',
					type : 'POST',
					dataType : 'json',
					data : { id : selected[0]},
					success : function (msg) {
						if (msg.status == 200 ) {
							$.smallBox({
								content : "<i class='fa fa-clock-o'></i> <i> data berhasil di porses </i>",
								color : "#659265",
								iconSmall : "fa fa-check fa-1x fadeInRight animated",
								timeout : 1000
							});
							$('#clear').click();
						} else {
							$.smallBox({
								title : "Peringatan",
								content : "<i class='fa fa-clock-o'></i> <i> data gagal di proses !!!</i>",
								color : "#C46A69",
								iconSmall : "fa fa-times fa-1x fadeInRight animated",
								timeout : 1000
							});
						}
					}
				})
			} else {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-clock-o'></i> <i> Minimal Satu Data !!!</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			}
		});

		var dataTableWidth=[{'targets':0,'width':'15'}];
		var dataTableURL = '/manage/report/dataTable';

		var tablereport = dataTable('#table-report',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4] });
		
		function refresh(){
			tablereport.fnDraw();
			selected = [];
		}

		SelectedRow('#table-report');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});