include ./component.jade
div.row
	article(class = "col-md-6")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-list")
				h2 SITE MANAGER
			div
				div(class = "jarviswidget-editbox")
				div(class = "widget-body no-padding")
					div#tempat-pesan(style = "margin : 5px;")
					form.form-horizontal(style = "margin-top : 10px; margin-left : 20px;")
						div.form-group
							label.control-label.col-lg-3(for='Key Imdb') Key Imdb
							div.col-lg-7
								- var keys = ""
								- if (hasil != null)
									- keys = hasil.key
								input.form-control(type = 'text', id="key", value =keys , disabled="disabled")
						div.form-group
								label.control-label.col-lg-3
								div.col-lg-7
									button.btn.btn-primary(data="edit")#proses-i Edit

script.
	pageSetUp();

	$(function (){

		$(document).delegate("#proses-i[data='edit']", "click", function(e) {
			e.preventDefault();
			$('#tempat-pesan').html('');
			var key = $("#key");

			key.removeAttr("disabled");
			$('select').removeAttr('disabled');
			$('input[type = "text"]').removeAttr('disabled');
			key.focus();
			$(this).text("Simpan");
			key.focus();
			$(this).removeAttr("data");
			$(this).attr("data","save");	
		});

		$(document).delegate("#proses-i[data='save']", "click", function(e) {
			e.preventDefault();
			$(this).attr('disabled',true);
			$('#tempat-pesan').html('');
			var key = $("#key");

			var data = {
				key : key.val()
			}
			console.log(data);
			$.ajax({
				url : '/manage/setting/simpan',
				dataType : 'json',
				type : 'POST',
				data : data,
				success : function (msg) {
					if (msg == 'sukses') {
						key.attr("disabled","disabled");
						$('select').attr('disabled', 'disabled');
						$('select').val('');
						$('input[type = "text"]').attr('disabled', 'disabled');
						$("#proses-i").text("Edit");
						$("#proses-i").attr("disabled",false);
						$("#proses-i").removeAttr("data");
						$("#proses-i").attr("data","edit");
					} else {
						$('#tempat-pesan').html('<p class = "alert alert-danger "> Proses Gagal!!! </p>');
					}
				}
			})
			return false;
		});
	});